<!DOCTYPE html>
<html>
<head>
  <title>Koreyaro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= link_to "Koreyaro", themes_path %>
</header>
<%= yield %>

</body>
</html>
