<!DOCTYPE html>
<html>
<head>
  <title>Koreyaro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="title">
    <%= link_to "Koreyaro", themes_path %><i class="fa fa-pencil"></i>
  </div>
  <div class="select-action">
    <div class="post">
    <%= link_to "投稿する", action: :post_theme %>
    </div>
    <div class="decision">
    <%= link_to "テーマを決定する", action: :decision_candidate %>
    </div>
  </div>
</header>

<div class="contents">
<%= yield %>
</div>

</body>
</html>
